* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: lightgray;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    position: fixed;
    top:0;
    z-index: 100;
    width:100%
}
.hamburguer-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo {
    width: 200px;
    animation: aumentar 1s ease-in infinite alternate;
}
@keyframes aumentar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.create-form {
    padding: 20px 15px;
    margin-top: 240px;;
}
.control-formulario {
    margin-bottom: 15px;
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display:block;
}
.control {
    width: 100%;
    padding: 8px;
}


@media (min-width:768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
}
.boton-formulario {
    background-color: #39b54a;
    border:none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}



@media (min-width: 1200px) {
    .logo {
        width: 250px;
        padding: 2%;
        margin: 0 1%;
    }
    .main-header-top-bar, .main-navbar {
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        margin: 0em;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }

}

/*___________ADDITIONAL CODE___________*/



.adv {
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.ad {
    margin-top: 180px;
    display: block;
    max-height: 80px;
    width: 300px;

}
.description {
border-top: lightgray 1px solid;
}

.description p {
    text-align: left;
    margin: 3% 5%;
}

.envio, .descuento {
    color: green;
}

h2 {
    padding-left: 3%;
    font-weight: 300;
    font-size: 2em;
    color:gray
}

.item img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 7%;
}

.item {
    background-color: white;
    display: block;
    text-align: center;
    border: solid 1px lightgray;
    border-radius: 4%;
    box-shadow: 0px 0px 10px black;
    margin: 3%;
}

.item:hover > img, .item:hover > h5 {
    opacity: 0.65;
}
.item:hover > h5 {
    opacity: 0.65;
    font-size: 0.9em;
    transition: all 3s ls;
}

.nombre  {
    color: gray;
    padding: 2%;
}

section {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

@media (max-width: 360px){

    section {
        justify-content: center;
    }

    .nombre {
        display: none;
    }
}

@media (max-width: 900px){

    section {
        justify-content: center;
    }
    
}



