* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    position: fixed;
    top:0;
    z-index: 100;
}
.hamburguer-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo {
    width: 200px;
    animation: aumentar 1s ease-in infinite alternate;
}
@keyframes aumentar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.create-form {
    padding: 20px 15px;
    margin-top: 240px;;
}
.control-formulario {
    margin-bottom: 15px;
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display:block;
}
.control {
    width: 100%;
    padding: 8px;
}

.product {
    padding: 0 15px;
    position: relative;
    margin:30px 15px;
}
.product img {
    width: 100%;
}
.product:hover h2 {
    opacity: 1;
    background-color: rgba(255,0,0,0.5);
    border-radius: 50%;
}
.product h2 {
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
}
@media (min-width:768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
}
.boton-formulario {
    background-color: #39b54a;
    border:none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
@media (min-width: 1200px) {
    .logo {
        width: 250px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        border: olive solid 5px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        margin: 0em;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    
}






    
/*______________________ LOGIN PAGE BODY ______________________*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

a {
    color: black;
    text-decoration: none;
}

article{
    margin-bottom: 75px;
    margin-top: 130px;
}

body {
    font-family: 'Roboto',sans-serif;
    font-size: medium;
}

button {
    background-color: lightgray;
    border: none;
    font-weight: 400;
    margin: 15px;
    min-width: 50%;
    padding: 2% 10%;
}

form {
    display: block;
    padding: 5% 0 5% 0;
    text-align: center;
}

.info {
    font-size: 0.75rem;
    font-weight: bold;
}

input {
    height: fit-content;
    margin: 0 10px;
}
h2 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1em;
    font-weight: 300;
}

label {
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    padding: 0 3%;
    
}

label a {
    text-decoration: underline;
}

label p {
    text-align: left;
    width: 30%;
}

label span, form span {
    color: red;
}

.login {
    margin-bottom: 15px;
}

.signup {
    margin-top: 10px;
}

.subtitle {
    background-color: rgba(45, 45, 201, 0.938);
    padding: 10px;
}

#tnc-statement {
    text-align: center;
    width: 50%;
}


@media (max-width: 325px) {
    label{
        justify-content: center;
    }

    label p {
        text-align: center;
        width: 100%;
    }
    article{
        margin-top: 200px;
    }
}


@media (max-width: 430px) {
    #tnc {
        justify-content: center;
    }
    
    #tnc-statement {
        text-align: center;
        width: 30%;
    }
    article{
        margin-top: 178px;
    }
}


@media (min-width: 500px){
    button {
        min-width: 35%
    }

    label p {
        width: 20%;
    }

    #tnc {
        margin: auto 0;
    }
    article{
        margin-top: 178px;
    }
}


@media (min-width: 550px){
    #tnc-statement {
        margin: 0 1%;
        width: auto;
    }
}

@media (min-width: 700px) {
    button {
        background-color: lightgray;
        border: none;
        font-size: 1.3em;
        min-width: 25%;
        padding: 2% 7%;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    label p {
        width: 18%;
    }

    p {
        font-size: 1.2em;
    }
}


@media (min-width: 1000px){
    label p {
        width: 12%;
    }
    article{
        margin-top: 140px;
    }
}


@media (min-width: 1200px) {
    article {
        align-items: stretch;
        display: flex;
        height: 70vh;
        margin-top: 160px;
    }

    button {
        min-width: 10%;
    }

    label {
        margin: 2%;
    }

    label p {
        height: fit-content;
        margin: 0;
        width: 20%;
    }

    .login, .signup {
        border-left: dotted gray 2px;
        display: block;
        margin: 0;
        width: 50%;
    }

    .subtitle {
        height: fit-content;
        width: 100%;
    }
}